.sidebar {

    flex: 1;
    border-right: 0.5px solid rgb(233, 233, 233);
    min-height: 100vh;
    background: #fff;

    .top {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            font-size: 1.3rem;
            font-weight: 700;
            color: #6439ff;
        }
    }

    hr {
        height: 0;
        border: 0.5px solid rgb(233, 233, 233);
    }

    .center {
        padding-left: 10px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            .title {
                font-size: 0.8rem;
                font-weight: 600;
                color: #9c9b9b;
                margin-top: 8px;
                margin-bottom: 5px;
            }

            li {
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;

                span {
                    font-size: 1rem;
                    font-weight: 550;
                    color: #777;
                    margin-left: 7px;
                }

                i {
                    font-size: 1.1rem;
                    color: #7451f8;
                }

                &:hover {
                    background-color: rgb(233, 233, 233);
                }
            }

        }
    }

    .bottom {
        display: flex;
        align-items: center;
        margin: 10px;

        .colorOption {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid #7451f8;
            cursor: pointer;
            margin: 5px;

            &:nth-child(1) {
                background-color: whitesmoke;
            }

            &:nth-child(2) {
                background-color: #333;
            }

            

        }
    }
}